<div class="container">
  <h1>
    <center>
      <%= "BANDS AT #{@festival.name.upcase}"%>
    </center>
  </h1>

  <table border="1" style="width:100%">
      <tr>
        <td>
          <h1>
            <center>
              NAME:
            </center>
          </h1>
        </td>
        <td>
          <h1>
            <center>
              GENRE:
            </center>
          </h1>
        </td>
        <td>
          <h1>
            <center>
              BAND INFO:
            </center>
          </h1>
        </td>
      </tr>
      <% @bands.each do |band| %>
      <% if @festival.id == band.festival.id %>
      <tr>
        <td>
          <h2>
            <center>
            <%= band.name %>
            </center>
          </h2>
        </td>
        <td>
          <h2>
            <center>
              <%= band.genre %>
            </center>
          </h2>
        </td>
        <td>
          <h2>
            <center>
              <%= link_to "Band Website", band.website, class: "btn btn-success" %>

            </center>
          </h2>
        </td>
      </tr>
    <% end %>
    <% end %>
  </table>
  <center>
  <h1>  <%=  link_to "Get More Festival Information!", @festival.website, class: "btn btn-warning" %></h1>
    <a href="javascript:history.back()" div class = "btn btn-danger">Back To Festival Page</a></button>
  </center>
</div
